**/eigen-3.2.5/
*.pyc
*.DS_Store
*.o
*.zip
DataProcessor/stanford-corenlp-python/
Intermediate/*
Results/*
Data/*
code/DataProcessor/stanza
code/DataProcessor/stanford*
data/intermediate/*
data/results/*
